.productCard {
	display: grid;
	grid-template-rows: 300px auto;
	box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.123);
	width: 100%;
	border-radius: 0.5rem;
	overflow: hidden;
}

.product__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.product__image a {
	height: 100%;
}

.product__details {
	padding: 1.5rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

.product__details form {
	grid-column: span 2;
}

.product__details .data {
	display: flex;
	gap: 0.4rem;
	flex-direction: column;
}

.product__details .data .title {
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--primary-color);
}

.product__details .data .stock {
	font-size: 0.9rem;
	font-weight: 500;
	color: var(--primary-color);
}

.price {
	text-align: right;
	font-size: 2rem;
	font-weight: 500;
	color: var(--primary-color);
}
