.layout {
	display: grid;
	width: calc(100% - 6rem);
	height: 100%;
	margin-left: 6rem;
	transition: margin-left 0.2s linear, width 0.2s linear;
}

.layout.open {
	width: calc(100% - 25rem);
	margin-left: 25rem;
}

.layout.open .sidebar {
	width: 25rem;
}

.layout.open .navItems {
	gap: 3rem;
}

.layout.open .navItem p {
	display: block;
}

.sidebar {
	background-color: #f1f2f7;
	position: fixed;
	top: 0;
	left: 0;
	width: 6rem;
	bottom: 0;
	overflow: hidden;
	font-size: 2rem;
	color: var(--primary-color);
	padding: 4rem 1rem 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	transition: width 0.2s linear;
}

.navItems {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	width: max-content;
	width: 100%;
}

.navItem {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 2rem;
	cursor: pointer;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	transition: all 0.2s linear;
}

a {
	color: inherit;
	display: block;
	text-decoration: none;
}

.navItem p {
	font-size: 1.2rem;
	font-weight: 500;
	display: none;
}

.logout {
	margin-top: auto;
	margin-left: 1rem;
	cursor: pointer;
}

.navItems * {
	cursor: pointer;
}

.layout .content {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	min-height: 100vh;
	height: 100%;
}

.layout header {
	padding: 2rem;
	background-color: #f1f2f7;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.11);
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--primary-color);
	display: flex;
	justify-content: space-between;
}

.layout header div {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.active .navItem {
	color: white;
	background-color: var(--primary-color);
}

.hamburger {
	margin-left: 1rem;
}
